@font-face {
  font-family: "FontAwesome";
  font-weight: normal;
  font-style: normal;
  src: url("https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/fonts/fontawesome-webfont.eot?v=4.3.0");
  src: url("https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/fonts/fontawesome-webfont.eot?#iefix&v=4.3.0") format("embedded-opentype"), url("https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/fonts/fontawesome-webfont.woff2?v=4.3.0") format("woff2"), url("https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/fonts/fontawesome-webfont.woff?v=4.3.0") format("woff"), url("https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/fonts/fontawesome-webfont.ttf?v=4.3.0") format("truetype"), url("https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/fonts/fontawesome-webfont.svg?v=4.3.0#fontawesomeregular") format("svg"); }

@font-face {
  font-family: "Gotham";
  src: url("/assets/fonts/Gotham-Book-Regular.otf");
  font-weight: 400;
  font-style: 400; }

@font-face {
  font-family: "Gotham";
  src: url("/assets/fonts/Gotham-Thin.otf");
  font-weight: 300;
  font-style: 300; }

@font-face {
  font-family: "Gotham";
  src: url("/assets/fonts/Gotham-Bold.otf");
  font-weight: 700;
  font-style: 700; }

body {
  font-family: "Gotham", sans-serif;
  line-height: 1.5;
  font-size: 100%;
  height: 100%;
  padding: 0;
  margin: 0; }

h1, h2, h3 {
  color: #31bde6;
  font-weight: 400; }

h1 {
  font-size: 2.5rem;
  text-transform: uppercase;
  text-align: center;
  margin: 0 auto; }

h2 {
  font-size: 2rem; }

p {
  font-size: 1rem;
  color: #808285;
  font-weight: 300; }

.blue {
  color: #31bde6; }

.white {
  color: #ffffff; }

.black {
  color: #0d0d0d; }

.centered {
  text-align: center; }

.left {
  text-align: left !important;
  margin-left: 0 !important; }

a {
  text-decoration: none;
  color: #ffffff; }

li {
  color: #808285; }

@media only screen and (max-width: 1020px) {
  body {
    font-size: 80%; } }

@media only screen and (max-width: 559px) {
  body {
    font-size: 65%; } }

.flex-columns {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  display: -webkit-flex;
  -webkit-box-pack: space-evenly;
     -moz-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-line-pack: start;
      align-content: flex-start;
  -webkit-box-align: start;
     -moz-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
     -moz-box-orient: horizontal;
     -moz-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap; }
  .flex-columns .icon-text-column {
    min-width: 15em;
    padding: 1.5em;
    width: 25%;
    padding-bottom: 0; }
    .flex-columns .icon-text-column .icon-container {
      padding: 1em;
      width: 30%; }
      .flex-columns .icon-text-column .icon-container img {
        max-height: 100%;
        max-width: 100%; }
    .flex-columns .icon-text-column hr {
      border-color: #31bde6;
      margin-left: 0;
      width: 50%; }

.behind-the-scenes.overlay {
  text-align: left;
  font-size: 0.8em;
  padding: 0 3em;
  overflow: auto;
  padding-bottom: 1000px;
  height: 100px; }

.behind-the-scenes h1, .behind-the-scenes h2 {
  color: #31bde6; }

.behind-the-scenes h3 {
  color: #0d0d0d; }

.behind-the-scenes p {
  color: #808285;
  font-size: 1.2em; }

.behind-the-scenes b, .behind-the-scenes span {
  font-weight: 400; }

.behind-the-scenes a {
  color: #0d0d0d; }
  .behind-the-scenes a span {
    display: inline-block; }
  .behind-the-scenes a:hover span {
    text-decoration: underline; }

.fixed-overlay-container {
  position: fixed;
  display: block;
  height: 100%;
  width: 100%;
  z-index: 10;
  right: 0;
  top: 0; }
  .fixed-overlay-container.hidden .fixed-overlay-mask {
    opacity: 0; }
  .fixed-overlay-container.hidden .fixed-overlay-card {
    -webkit-transform: translateX(100%);
       -moz-transform: translateX(100%);
        -ms-transform: translateX(100%);
         -o-transform: translateX(100%);
            transform: translateX(100%); }
  .fixed-overlay-container.invisible {
    display: none; }
  .fixed-overlay-container .fixed-overlay-mask {
    background-color: black;
    position: fixed;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    -webkit-transition: opacity 200ms;
    -o-transition: opacity 200ms;
    -moz-transition: opacity 200ms;
    transition: opacity 200ms;
    opacity: 0.6; }
  .fixed-overlay-container .fixed-overlay-card {
    -webkit-transition: -webkit-transform 200ms;
    transition: -webkit-transform 200ms;
    -o-transition: -o-transform 200ms;
    -moz-transition: transform 200ms, -moz-transform 200ms;
    transition: transform 200ms;
    transition: transform 200ms, -webkit-transform 200ms, -moz-transform 200ms, -o-transform 200ms;
    -webkit-transform: translateX(0);
       -moz-transform: translateX(0);
        -ms-transform: translateX(0);
         -o-transform: translateX(0);
            transform: translateX(0);
    -webkit-box-shadow: 0 0 3em #808285;
            box-shadow: 0 0 3em #808285;
    background-color: #ffffff;
    position: relative;
    max-width: 50%;
    float: right; }
  .fixed-overlay-container .toggle, .fixed-overlay-container .overlay-bg {
    position: relative;
    width: 100%; }
  .fixed-overlay-container .toggle {
    background-color: #0d0d0d;
    height: 4em; }
    .fixed-overlay-container .toggle .x {
      display: inline-block;
      position: relative;
      height: 100%;
      float: right; }
      .fixed-overlay-container .toggle .x svg {
        margin: 1.25em 2em;
        fill: #ffffff;
        cursor: pointer;
        height: 1.5em;
        width: 1.5em; }
        .fixed-overlay-container .toggle .x svg:hover {
          fill: #31bde6; }
  .fixed-overlay-container .overlay-bg {
    display: table-cell;
    text-align: center; }

.image-collage {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
     -moz-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
     -moz-box-orient: horizontal;
     -moz-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  height: 100%;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.9); }
  .image-collage .collage-image-padding {
    max-height: 10em;
    max-width: 10em;
    min-height: 4em;
    min-width: 4em;
    padding: 0.1em 2em;
    height: 20%;
    width: 20%; }
    .image-collage .collage-image-padding .collage-image {
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
      height: 100%;
      width: 100%; }

.graphic-text {
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
     -moz-box-orient: horizontal;
     -moz-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap; }
  .graphic-text .feature-text {
    min-width: 25em;
    width: 30%; }
    .graphic-text .feature-text p {
      font-size: 1.2em; }
  .graphic-text .feature-graphic {
    margin-left: 2em;
    min-width: 20em;
    width: 40%; }
    .graphic-text .feature-graphic img {
      max-height: 100%;
      max-width: 100%; }
  .graphic-text.reverse {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
       -moz-box-orient: horizontal;
       -moz-box-direction: reverse;
        -ms-flex-flow: row-reverse wrap;
            flex-flow: row-reverse wrap; }
    .graphic-text.reverse .feature-graphic {
      margin-right: 2em;
      margin-left: 0; }

header {
  position: relative;
  font-size: 1em; }
  header.clear {
    position: absolute;
    width: 100%;
    overflow: visible; }
    header.clear .nav-bar {
      background-color: rgba(0, 0, 0, 0); }
    header.clear.has-bg .nav-bar {
      background-color: #0d0d0d; }
  header .nav-mask {
    background-color: rgba(0, 0, 0, 0.6);
    -webkit-transition: opacity 400ms;
    -o-transition: opacity 400ms;
    -moz-transition: opacity 400ms;
    transition: opacity 400ms;
    visibility: hidden;
    position: fixed;
    height: 100%;
    width: 100%;
    opacity: 0; }

.nav-container {
  position: relative;
  height: 4em;
  width: 100%;
  z-index: 5; }

.nav-bar {
  -webkit-transition: background-color 400ms;
  -o-transition: background-color 400ms;
  -moz-transition: background-color 400ms;
  transition: background-color 400ms;
  background-color: #0d0d0d;
  color: #ffffff;
  position: fixed;
  height: 4em;
  width: 100%; }
  .nav-bar .navbar-padding {
    padding: 0 4em;
    margin: 0 auto;
    height: 100%; }
  .nav-bar .nav-wrapper {
    position: relative;
    height: 100%; }

.logo.navbar {
  position: absolute;
  z-index: 6; }

.buttons-container {
  position: absolute;
  line-height: 4em;
  overflow: hidden;
  height: 100%;
  width: 100%;
  text-transform: uppercase;
  font-weight: 400; }
  .buttons-container .buttons-list {
    display: inline-block;
    list-style: none;
    height: auto;
    float: right;
    padding: 0;
    margin: 0; }
    .buttons-container .buttons-list .list-button {
      list-style: none;
      float: left; }
    .buttons-container .buttons-list .drop-down-button {
      display: none; }

.nav-burger {
  position: absolute;
  cursor: pointer;
  display: none;
  z-index: 7;
  right: 0;
  top: 0;
  padding: 1.6em 0 0.9em;
  margin-right: 0;
  height: auto;
  width: auto; }
  .nav-burger div {
    background: #ffffff;
    border-radius: 1px;
    margin-bottom: 6px;
    margin-left: 20px;
    height: 2px;
    width: 28px;
    -webkit-transform: translate3d(0, 0, 0);
       -moz-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
    opacity: 1; }
    .nav-burger div:nth-child(odd) {
      -webkit-transition: -webkit-transform 400ms ease;
      transition: -webkit-transform 400ms ease;
      -o-transition: -o-transform 400ms ease;
      -moz-transition: transform 400ms ease, -moz-transform 400ms ease;
      transition: transform 400ms ease;
      transition: transform 400ms ease, -webkit-transform 400ms ease, -moz-transform 400ms ease, -o-transform 400ms ease; }
    .nav-burger div:nth-child(2) {
      -webkit-transition: opacity 200ms;
      -o-transition: opacity 200ms;
      -moz-transition: opacity 200ms;
      transition: opacity 200ms; }

@media only screen and (max-width: 1020px) {
  .nav-burger {
    display: block; }
  .buttons-container {
    -webkit-transition: max-height 400ms;
    -o-transition: max-height 400ms;
    -moz-transition: max-height 400ms;
    transition: max-height 400ms;
    background-color: #0d0d0d;
    position: fixed;
    max-height: 0;
    height: auto;
    z-index: 6;
    left: 0; }
    .buttons-container .buttons-list {
      display: block;
      padding: 2em;
      float: none; }
      .buttons-container .buttons-list .button {
        display: none; }
      .buttons-container .buttons-list .drop-down-button {
        display: block !important;
        line-height: 1em;
        font-weight: 300;
        font-size: 1.2em;
        padding: 1em;
        height: auto; }
        .buttons-container .buttons-list .drop-down-button:hover a {
          color: #31bde6; }
  .nav-bar.active .nav-mask {
    visibility: visible;
    opacity: 1; }
  .nav-bar.active .buttons-container {
    max-height: 33em; }
  .nav-bar.active .nav-burger div:nth-child(1) {
    -webkit-transform: rotate(45deg) translate3d(3px, 8px, 0);
       -moz-transform: rotate(45deg) translate3d(3px, 8px, 0);
            transform: rotate(45deg) translate3d(3px, 8px, 0); }
  .nav-bar.active .nav-burger div:nth-child(2) {
    opacity: 0; }
  .nav-bar.active .nav-burger div:nth-child(3) {
    -webkit-transform: rotate(-45deg) translate3d(3px, -8px, 0);
       -moz-transform: rotate(-45deg) translate3d(3px, -8px, 0);
            transform: rotate(-45deg) translate3d(3px, -8px, 0); } }

@media only screen and (max-width: 559px) {
  .nav-bar {
    height: 4.5em; } }

.distributed-flex {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  display: -webkit-flex;
  -webkit-box-pack: justify;
     -moz-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-line-pack: start;
      align-content: flex-start;
  -webkit-box-align: start;
     -moz-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
     -moz-box-orient: horizontal;
     -moz-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap; }

.widgets-container .widget-column {
  padding-top: 2em;
  max-width: 45%; }
  .widgets-container .widget-column .widget-column-header {
    height: 4rem; }

.site-map-container .footer-logo {
  margin-bottom: 1.5rem;
  max-height: 36px;
  max-width: 20em; }
  .site-map-container .footer-logo img {
    width: 100%; }

.site-map-container .site-map {
  -webkit-box-pack: start;
     -moz-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin: 1em 0;
  font-size: 0.9rem;
  font-weight: 300; }
  .site-map-container .site-map div {
    padding: 0.4em 0.7em; }
  .site-map-container .site-map a:hover span {
    color: #31bde6; }

.social-nav p {
  line-height: 4rem;
  font-size: 1.7rem;
  font-weight: 300;
  margin: 0; }

.social-nav ul {
  -webkit-box-pack: justify;
     -moz-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  list-style: none;
  padding: 0; }

.social-nav .social-logo {
  list-style: none;
  width: 20px; }
  .social-nav .social-logo i {
    color: #ffffff;
    font-size: 1.5em; }
    .social-nav .social-logo i:hover {
      color: #31bde6; }
  .social-nav .social-logo svg {
    max-height: 20px; }
  .social-nav .social-logo svg:hover path {
    fill: #31bde6; }

.footer-legal div {
  padding: 1em 0; }
  .footer-legal div a {
    display: inline-block; }
    .footer-legal div a span {
      text-decoration: underline; }
  .footer-legal div span {
    display: inline-block;
    font-size: 0.8rem;
    font-weight: 300; }

@media only screen and (max-width: 1020px) {
  .widget-column.widget-column {
    max-width: 100%; } }

.button {
  position: relative;
  padding: 0 0.1em; }
  .button.centered {
    padding-top: 2em; }
  .button a {
    display: inline-block;
    position: relative;
    cursor: pointer;
    border: 2px solid rgba(50, 196, 233, 0);
    -webkit-transition: border 500ms;
    -o-transition: border 500ms;
    -moz-transition: border 500ms;
    transition: border 500ms;
    padding: 0.25em 0.5em;
    line-height: 2; }
    .button a.bright {
      -webkit-transition: background-color 500ms;
      -o-transition: background-color 500ms;
      -moz-transition: background-color 500ms;
      transition: background-color 500ms;
      background-color: #31bde6;
      padding-right: 0.4em;
      padding-left: 0.4em; }
    .button a:hover {
      border: 2px solid #31bde6; }
      .button a:hover.phone, .button a:hover.bright {
        border: 2px solid rgba(50, 196, 233, 0); }
      .button a:hover.bright {
        background-color: rgba(50, 196, 233, 0.7); }
    .button a span {
      text-transform: uppercase; }

section {
  position: relative;
  padding-bottom: 2.4em;
  padding-top: 2.6em;
  overflow: hidden; }
  section.banner {
    font-size: 1.5rem;
    padding-top: 6em; }
    section.banner .headline-container {
      padding-bottom: 2em;
      max-width: 55em;
      margin: 0 auto; }
      section.banner .headline-container h1 {
        font-size: 3.5rem;
        color: #31bde6; }
      section.banner .headline-container span, section.banner .headline-container p {
        font-size: 1.5rem;
        text-align: center; }
  section.gray {
    background-color: #efefef; }
  section .background-container {
    position: absolute;
    overflow: hidden;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; }
    section .background-container video, section .background-container div {
      min-height: 100%;
      min-width: 100%; }
  section.dark {
    background-color: #0d0d0d; }
    section.dark h1, section.dark h2, section.dark h3, section.dark p, section.dark a, section.dark span {
      color: #ffffff; }
      section.dark h1.blue, section.dark h2.blue, section.dark h3.blue, section.dark p.blue, section.dark a.blue, section.dark span.blue {
        color: #31bde6; }
    section.dark .background-container {
      opacity: 0.2; }
  section .padded-container {
    position: relative;
    padding: 0 4em;
    margin: 0 auto; }
    section .padded-container.narrow {
      max-width: 50em; }

@media only screen and (max-width: 559px) {
  section .padded-container {
    padding: 0 2em; } }

.logo {
  display: inline-block; }
  .logo img {
    padding: 1.4rem 0;
    height: 1.2rem; }

.featured-term {
  margin-bottom: 2em;
  margin-top: -1em;
  font-weight: 300; }
  .featured-term div {
    text-align: center; }
  .featured-term .fading-span {
    -webkit-transition: opacity 400ms;
    -o-transition: opacity 400ms;
    -moz-transition: opacity 400ms;
    transition: opacity 400ms;
    opacity: 1; }
  .featured-term .sliding-span {
    -webkit-transition: -webkit-transform 400ms;
    transition: -webkit-transform 400ms;
    -o-transition: -o-transform 400ms;
    -moz-transition: transform 400ms, -moz-transform 400ms;
    transition: transform 400ms;
    transition: transform 400ms, -webkit-transform 400ms, -moz-transform 400ms, -o-transform 400ms;
    -webkit-transform: translateX(0);
       -moz-transform: translateX(0);
        -ms-transform: translateX(0);
         -o-transform: translateX(0);
            transform: translateX(0); }
  .featured-term.waiting .fading-span {
    opacity: 0; }
  .featured-term.waiting .sliding-span {
    -webkit-transform: translateX(-50px);
       -moz-transform: translateX(-50px);
        -ms-transform: translateX(-50px);
         -o-transform: translateX(-50px);
            transform: translateX(-50px); }
  .featured-term.leaving .fading-span {
    opacity: 0; }
  .featured-term.leaving .sliding-span {
    -webkit-transform: translateX(50px);
       -moz-transform: translateX(50px);
        -ms-transform: translateX(50px);
         -o-transform: translateX(50px);
            transform: translateX(50px); }

@media only screen and (max-width: 1020px) {
  .subtitle {
    width: 100%; }
  .padded-input-container {
    max-width: 100%; } }

.brand-container {
  position: relative;
  margin: 0 auto;
  width: 100%;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  display: -webkit-flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-line-pack: distribute;
      align-content: space-around;
  -webkit-box-align: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
     -moz-box-orient: horizontal;
     -moz-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap; }
  .brand-container .brand-logo {
    text-align: center;
    height: 7em;
    width: 14em;
    margin: 2em;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain; }
    .brand-container .brand-logo:nth-child(odd) {
      width: 9em; }

.article-selector {
  position: relative; }
  .article-selector ul {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    display: -webkit-flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
       -moz-box-orient: horizontal;
       -moz-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    text-align: center;
    list-style: none;
    padding: 0; }
    .article-selector ul li {
      text-transform: uppercase;
      list-style: none;
      display: inline; }
      .article-selector ul li .selection-name {
        margin: 0.5em 1.5em;
        border-radius: 0.2em;
        cursor: pointer; }
        .article-selector ul li .selection-name span {
          -webkit-transition-property: color;
          -o-transition-property: color;
          -moz-transition-property: color;
          transition-property: color;
          -webkit-transition-duration: 500ms;
             -moz-transition-duration: 500ms;
               -o-transition-duration: 500ms;
                  transition-duration: 500ms;
          font-weight: 300; }
        .article-selector ul li .selection-name:hover span {
          color: #31bde6; }
        .article-selector ul li .selection-name.active span {
          color: #31bde6; }

.article-container {
  position: relative;
  margin: 1em 0; }
  .article-container .article {
    -webkit-transition: opacity 500ms;
    -o-transition: opacity 500ms;
    -moz-transition: opacity 500ms;
    transition: opacity 500ms;
    display: none;
    width: 100%;
    opacity: 0; }
    .article-container .article.active {
      opacity: 1; }
    .article-container .article.visible {
      display: block; }
    .article-container .article .graphic-text.fixed-height .feature-text,
    .article-container .article .graphic-text.fixed-height .feature-graphic {
      height: 19em; }
    .article-container .article .graphic-text.fixed-height.no-img .feature-graphic {
      height: 0; }

section .background-container.shift-left {
  background-size: contain;
  opacity: 0.25;
  left: -20%; }

h2.light-weight {
  font-weight: 300; }

.button.bw a {
  -webkit-transition: background-color 200ms;
  -o-transition: background-color 200ms;
  -moz-transition: background-color 200ms;
  transition: background-color 200ms;
  background-color: #ffffff;
  border: none; }
  .button.bw a span {
    -webkit-transition: color 200ms;
    -o-transition: color 200ms;
    -moz-transition: color 200ms;
    transition: color 200ms;
    color: #0d0d0d; }
  .button.bw a:hover {
    background-color: #0d0d0d; }
    .button.bw a:hover span {
      color: #ffffff; }

.text-card-container {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  display: -webkit-flex;
  -webkit-box-pack: space-evenly;
     -moz-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-line-pack: justify;
      align-content: space-between;
  -webkit-box-align: stretch;
     -moz-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
     -moz-box-orient: horizontal;
     -moz-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap; }
  .text-card-container .text-card {
    min-width: 25em;
    padding: 1em;
    margin: 1em;
    width: 40%;
    border-top: 3px solid #31bde6;
    -webkit-box-shadow: 0 0 15px #808285;
            box-shadow: 0 0 15px #808285; }
    .text-card-container .text-card h2 {
      color: #0d0d0d;
      text-align: left; }
    .text-card-container .text-card p {
      color: #808285;
      font-size: 1.2em;
      max-width: 30em; }
    .text-card-container .text-card:nth-child(1) {
      display: none; }

.card-container {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  display: -webkit-flex;
  -webkit-box-pack: space-evenly;
     -moz-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: stretch;
     -moz-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
     -moz-box-orient: horizontal;
     -moz-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap; }
  .card-container .card {
    background-color: rgba(255, 255, 255, 0.9);
    -webkit-box-shadow: 0 0 15px #808285;
            box-shadow: 0 0 15px #808285;
    margin: 1em;
    width: 20em;
    -webkit-transition: -webkit-transform 200ms;
    transition: -webkit-transform 200ms;
    -o-transition: -o-transform 200ms;
    -moz-transition: transform 200ms, -moz-transform 200ms;
    transition: transform 200ms;
    transition: transform 200ms, -webkit-transform 200ms, -moz-transform 200ms, -o-transform 200ms;
    -webkit-transform: translateY(0) scale(1);
       -moz-transform: translateY(0) scale(1);
        -ms-transform: translateY(0) scale(1);
         -o-transform: translateY(0) scale(1);
            transform: translateY(0) scale(1); }
    .card-container .card:nth-child(3), .card-container .card:nth-child(5) {
      display: none; }
    .card-container .card:hover {
      -webkit-transform: translateY(-10px) scale(1.03);
         -moz-transform: translateY(-10px) scale(1.03);
          -ms-transform: translateY(-10px) scale(1.03);
           -o-transform: translateY(-10px) scale(1.03);
              transform: translateY(-10px) scale(1.03); }
    .card-container .card .img-container {
      border-bottom: 1px solid #808285;
      background-color: #ffffff;
      overflow: hidden;
      height: 15em;
      width: 100%;
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain; }
    .card-container .card .card-message-container {
      vertical-align: middle;
      display: table-cell;
      padding: 1em;
      height: 8em; }
      .card-container .card .card-message-container .card-message {
        display: inline-block;
        text-align: center;
        margin: auto 0; }
        .card-container .card .card-message-container .card-message h3 {
          margin: 0; }
        .card-container .card .card-message-container .card-message p {
          font-size: 0.9em; }

.background-container.bottom {
  background-position: bottom; }

p.banner-size {
  font-size: 1.5rem; }

.demo-content-container {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  display: -webkit-flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
     -moz-box-orient: horizontal;
     -moz-box-direction: reverse;
      -ms-flex-flow: row-reverse wrap;
          flex-flow: row-reverse wrap;
  -webkit-box-pack: space-evenly;
     -moz-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-line-pack: start;
      align-content: flex-start;
  -webkit-box-align: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .demo-content-container .demo-message {
    -webkit-transition: opacity 400ms;
    -o-transition: opacity 400ms;
    -moz-transition: opacity 400ms;
    transition: opacity 400ms;
    width: 30em;
    opacity: 1;
    -webkit-box-flex: 1;
       -moz-box-flex: 1;
        -ms-flex: 1 0 auto;
            flex: 1 0 auto; }
    .demo-content-container .demo-message.hidden {
      opacity: 0; }
    .demo-content-container .demo-message h2 {
      font-weight: 300; }
    .demo-content-container .demo-message .dark {
      color: #0d0d0d; }
    .demo-content-container .demo-message .small {
      font-size: 1rem; }
    .demo-content-container .demo-message .caps {
      text-transform: uppercase; }
    .demo-content-container .demo-message li {
      font-weight: 300; }
  .demo-content-container .contact-card {
    -webkit-box-shadow: 0 0 10px #808285;
            box-shadow: 0 0 10px #808285;
    background-color: #ffffff;
    position: relative;
    overflow: hidden;
    max-width: 80%;
    height: auto;
    width: 20em;
    z-index: 1;
    padding: 0 4em 3em 4em; }
    .demo-content-container .contact-card input, .demo-content-container .contact-card textarea, .demo-content-container .contact-card select {
      font-size: 1.1em; }

.quick-demo-form {
  max-width: 24em;
  margin: 0 auto; }
  .quick-demo-form div {
    position: relative;
    margin: 0 auto; }
  .quick-demo-form .label-container {
    color: #ffffff; }
  .quick-demo-form .padded-input-container {
    max-width: 90%; }
    .quick-demo-form .padded-input-container .input-wrapper {
      position: relative;
      overflow: hidden;
      padding: 0;
      left: 0;
      top: 0;
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: flex; }
    .quick-demo-form .padded-input-container input {
      position: relative;
      font-size: 0.7em;
      font-weight: 300;
      padding: 1em;
      border: none;
      -webkit-appearance: unset;
      outline: 0 !important;
      border-radius: 0;
      margin: 0; }
    .quick-demo-form .padded-input-container .email-input {
      -webkit-box-flex: 3;
         -moz-box-flex: 3;
          -ms-flex: 3 0 auto;
              flex: 3 0 auto; }
    .quick-demo-form .padded-input-container .submit-button {
      -webkit-transition: background-color 500ms;
      -o-transition: background-color 500ms;
      -moz-transition: background-color 500ms;
      transition: background-color 500ms;
      background-color: #31bde6;
      color: #ffffff;
      cursor: pointer;
      width: 11em; }
      .quick-demo-form .padded-input-container .submit-button:hover {
        background-color: rgba(50, 196, 233, 0.7); }

.contact-form {
  text-align: center;
  padding: 2em; }
  .contact-form .contact-field {
    -webkit-transition: max-height 200ms;
    -o-transition: max-height 200ms;
    -moz-transition: max-height 200ms;
    transition: max-height 200ms;
    padding-bottom: 1em;
    max-height: 50em;
    overflow: hidden;
    text-align: left; }
    .contact-form .contact-field.hidden {
      padding-bottom: 0;
      max-height: 0; }
    .contact-form .contact-field label {
      text-transform: capitalize;
      display: inline-block;
      color: #808285; }
    .contact-form .contact-field div {
      position: relative;
      margin: 0.5em 0;
      border: 1px solid #808285;
      border-bottom: 3px solid #808285; }
      .contact-form .contact-field div:active, .contact-form .contact-field div[focus-within] {
        border-bottom: 3px solid #31bde6; }
      .contact-form .contact-field div:active, .contact-form .contact-field div:focus-within {
        border-bottom: 3px solid #31bde6; }
      .contact-form .contact-field div input, .contact-form .contact-field div select {
        font-size: 1.2em;
        border: none; }
      .contact-form .contact-field div textarea {
        border: 0.5px solid #808285;
        max-height: 30em;
        height: 5em; }
      .contact-form .contact-field div input, .contact-form .contact-field div textarea, .contact-form .contact-field div select {
        background-color: #ffffff;
        width: -webkit-fill-available;
        text-indent: 0.3em;
        padding: 0.5em 0; }
        .contact-form .contact-field div input:active, .contact-form .contact-field div input:focus, .contact-form .contact-field div textarea:active, .contact-form .contact-field div textarea:focus, .contact-form .contact-field div select:active, .contact-form .contact-field div select:focus {
          outline: none; }
      .contact-form .contact-field div select, .contact-form .contact-field div select:active, .contact-form .contact-field div select:focus {
        color: #808285;
        -webkit-appearance: none;
           -moz-appearance: none;
                appearance: none;
        cursor: pointer; }
      .contact-form .contact-field div.select-box:after {
        font-family: "FontAwesome";
        pointer-events: none;
        position: absolute;
        content: "\F078";
        color: #808285;
        padding: 0.65em;
        right: 0;
        top: 0; }
      .contact-form .contact-field div.select-box[focus-within]:after {
        color: #31bde6; }
      .contact-form .contact-field div.select-box:focus-within:after {
        color: #31bde6; }
  .contact-form .sent-overlay {
    font-size: 3em; }

.submit-container {
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: #31bde6;
  width: 100%; }
  .submit-container input {
    background-color: #0d0d0d;
    letter-spacing: 5px;
    color: #ffffff;
    padding: 1em 0;
    border: none;
    height: 100%;
    width: 100%; }
    .submit-container input:hover {
      color: #31bde6; }
    .submit-container input:focus {
      color: #31bde6;
      outline: none; }

.fixed-form-submit {
  background-color: #0d0d0d;
  display: inline-block;
  margin: 2em auto;
  width: 13em; }
  .fixed-form-submit input {
    background-color: inherit;
    padding: 1em 2em;
    cursor: pointer;
    border: none;
    color: #ffffff;
    font-size: 1em; }
    .fixed-form-submit input:hover {
      color: #31bde6; }
    .fixed-form-submit input:focus {
      outline: none; }

.demo-form .sent-overlay {
  text-align: center;
  position: absolute;
  height: 100%;
  width: 100%;
  padding: 0;
  left: 0;
  top: 0;
  line-height: 100%;
  background-color: rgba(255, 255, 255, 0.9);
  -webkit-transition: opacity 400ms;
  -o-transition: opacity 400ms;
  -moz-transition: opacity 400ms;
  transition: opacity 400ms;
  opacity: 0; }
  .demo-form .sent-overlay:before {
    margin-right: -0.25em;
    /* Adjusts for spacing */
    vertical-align: middle;
    display: inline-block;
    height: 100%;
    content: ''; }
  .demo-form .sent-overlay span {
    background-color: #ffffff;
    color: #31bde6;
    display: inline-block;
    line-height: normal;
    -webkit-transition: -webkit-transform 400ms ease;
    transition: -webkit-transform 400ms ease;
    -o-transition: -o-transform 400ms ease;
    -moz-transition: transform 400ms ease, -moz-transform 400ms ease;
    transition: transform 400ms ease;
    transition: transform 400ms ease, -webkit-transform 400ms ease, -moz-transform 400ms ease, -o-transform 400ms ease;
    -webkit-transform: translateY(100px);
       -moz-transform: translateY(100px);
        -ms-transform: translateY(100px);
         -o-transform: translateY(100px);
            transform: translateY(100px); }
  .demo-form .sent-overlay i {
    display: inline-block;
    padding-left: 0.5em;
    font-size: 0.8em;
    color: #31bde6;
    padding: 0;
    margin: 0; }
  .demo-form .sent-overlay.visible {
    opacity: 1; }
    .demo-form .sent-overlay.visible span {
      -webkit-transform: translateY(0);
         -moz-transform: translateY(0);
          -ms-transform: translateY(0);
           -o-transform: translateY(0);
              transform: translateY(0); }
  .demo-form .sent-overlay.hidden {
    display: none; }

.job-posting {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  display: -webkit-flex;
  -webkit-box-pack: space-evenly;
     -moz-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
     -moz-box-orient: horizontal;
     -moz-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap; }
  .job-posting .job-description {
    min-width: 15em;
    width: 50%; }

